.table1{
    padding-top: 40px;
    // background-color: red;
    .thead tr{
        margin-bottom: 90px;
        color: rgb(87, 81, 81);
        padding-bottom: 30px;
    }
}
.tbody tr{
    padding-bottom: 20px;
    color: rgb(81, 81, 81);
}